<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Desenvolvedor full-stack | Luiz Felipe Radoll Cordeiro</title>
</head>
<body>
    <nav id="boxMenu">
        <ul id="menu">
            <li class="menuOption">
                <a><strong>HOME</strong></a>
            </li>
            <li class="menuOption">
                <a><strong>PROJETOS</strong></a>
            </li>
            <li class="menuOption">
                <a><strong>CURSOS</strong></a>
            </li>
            <li class="menuOption">
                <a><strong>CONTATO</strong></a>
            </li>
        </ul>
    </nav>
    <div class="clear"></div>
    <section id="apresentation">
        <div class="rain1"></div>
        <div class="rain2"></div>
        <div class="rain3"></div>
        <div class="rain4"></div>
        <div class="rain5"></div>
        <div class="col-2"></div>
        <div class="col-1"></div>
        <div class="lineProfyle1"></div>
        <div class="lineProfyle2"></div>
        <div class="lineProfyle3"></div>
        <img class="profyle" src="img/profyle.enc">
        <h1>LUIZ FELIPE RADOLL CORDEIRO</h1>
        <h3>DEV: FULL-STACK</h3>
        <div class="colAbout1"></div>
        <h2>Sobre mim</h2>
        <div class="colAbout2"></div>
        <p class="about">
            "Olá, me chamo <strong class="myName">Luiz Felipe Radoll Cordeiro</strong>,
            atualmente estou cursando <strong class="university">ADS na faculdade <a target="_blank" href="https://vestibular.sc.senac.br/curso/analise-e-des.-de-sistemas">Senac Joinville</a></strong> na
            terceira fase porém já tenho experiência na área de desenvolvimento web a 5 anos e com vários <strong class="curseTopic"><a>cursos</a></strong>
            concluídos para aprofundar os meus conhecimentos, além de desenvolvimento web também tenho conhecimento em desenvolvimento de 
            <strong class="apiTopic"><a target="_blank" href="https://www.google.com/search?q=o+que+é+uma+API+em+relação+a+programação+%3F&client=opera-gx&hs=BoO&sca_esv=a200776fc37e1cce&sxsrf=AHTn8zqlPsQumTbaBLauztWsEPZst1z9Bg%3A1742016616068&ei=aBDVZ5HxA-_N1sQP09vAyAM&ved=0ahUKEwiRxd_MrYuMAxXvppUCHdMtEDkQ4dUDCBA&uact=5&oq=o+que+é+uma+API+em+relação+a+programação+%3F&gs_lp=Egxnd3Mtd2l6LXNlcnAiL28gcXVlIMOpIHVtYSBBUEkgZW0gcmVsYcOnw6NvIGEgcHJvZ3JhbWHDp8OjbyA_MgUQIRigATIFECEYoAEyBRAhGKABMgUQIRigAUilbFAAWN9qcAF4AZABAJgBtgGgAcQrqgEEMC40M7gBA8gBAPgBAZgCLKAC1SzCAgoQIxiABBgnGIoFwgIKEAAYgAQYQxiKBcICCxAuGIAEGNEDGMcBwgIFEAAYgATCAggQLhiABBjUAsICBRAuGIAEwgIIEAAYgAQYywHCAgYQABgWGB7CAggQABgWGAoYHsICCBAAGIAEGKIEwgIFEAAY7wXCAgcQIRigARgKwgIEECEYFcICBRAhGJ8FmAMAkgcEMS40M6AHmeAB&sclient=gws-wiz-serp">API</a></strong> e mobile"
        </p>
        <div class="lineTitle1"></div>
        <div class="lineTitle2"></div>
        <a target="_blank" href="https://github.com/XT07?tab=overview&from=2025-03-01&to=2025-03-15"><img class="github" src="img/github.png"></a>
        <a target="_blank" href="https://wa.me/47996930387"><img class="whatsapp" src="img/whatsapp.png"></a>
    </section>
    <div class="clear"></div>
    <section id="topProject1">
        <div class="masc1"></div>
        <div class="masc2"></div>
        <div class="masc3"></div>
        <div class="siteName">
            <h2><strong>Floresta</strong></h2>
        </div>
        <div class="seeSite">
            <h2><a><strong>Ver site</strong></a></h2>
        </div>
        <div class="textRight">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="leftSide">
            <img src="img/temp.jpg" class="photoSite">
        </div>
    </section>
    <div class="clear"></div>
    <section id="topProject2">
        <div class="masc4"></div>
        <div class="masc5"></div>
        <div class="masc6"></div>
        <div class="siteNameRight">
            <h2><strong>Floresta</strong></h2>
        </div>
        <div class="seeSiteRight">
            <h2><a><strong>Ver site</strong></a></h2>
        </div>
        <div class="text">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="rightSide">
            <img src="img/temp.jpg" class="photoSite">
        </div>
    </section>
    <section id="topProject3">
        <div class="masc1"></div>
        <div class="masc2"></div>
        <div class="masc3"></div>
        <div class="siteName">
            <h2><strong>Floresta</strong></h2>
        </div>
        <div class="seeSite">
            <h2><a><strong>Ver site</strong></a></h2>
        </div>
        <div class="textRight">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="leftSide">
            <img src="img/temp.jpg" class="photoSite">
        </div>
    </section>
    <section id="topCurses">

    </section>
</body>
<footer>

</footer>
</html>