<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Desenvolvedor full-stack | Luiz Felipe Radoll Cordeiro</title>
</head>
<body>
    <nav id="boxMenu">
        <ul id="menu">
            <li class="menuOption">
                <a><strong>HOME</strong></a>
            </li>
            <li class="menuOption">
                <a><strong>PROJETOS</strong></a>
            </li>
            <li class="menuOption">
                <a><strong>CURSOS</strong></a>
            </li>
            <li class="menuOption">
                <a><strong>CONTATO</strong></a>
            </li>
        </ul>
    </nav>
    <div class="clear"></div>
    <section id="apresentation">
        <div class="col-2"></div>
        <div class="col-1"></div>
        <img class="profyle" src="img/profyle.enc">
        <h1>LUIZ FELIPE RADOLL CORDEIRO</h1>
        <h3>DEV: FULL-STACK</h3>
    </section>
    <div class="clear"></div>
    <section id="topProjects">

    </section>
    <section id="topCurses">

    </section>
</body>
</html>