body {
    background-color: #002030;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00ffff;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background-color: #001020;
}

#boxMenu {
    margin-right: 20px;
    width: 100vw -50;
}

#menu {
    float: right;
    list-style: none;
    gap: 15px;
    display: flex;
}

.clear{
    clear: both;
}

li a {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline #002030;
    transition: text-decoration 0.3s ease-in-out, 0.3s ease-in-out;
}

li a:hover {
    text-decoration: underline #00ffff;
    text-underline-offset: 5px;
    cursor: pointer;
}

/* css da primeira section */

#apresentation {
    width: 100vw -1;
    height: calc(100vh - 63px);
}

#apresentation h1 {
    z-index: 999;
    color: #00ffff;
    margin: -400px 0px 0px 850px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline #00ffff;
    text-underline-offset: 10px;
}

#apresentation h3 {
    z-index: 999;
    color: #ffffff;
    margin-left: 1130px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline #ffffff;
    text-underline-offset: 10px;
}

.profyle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 1px solid #00ffff;
    margin: 200px 0px 0px 250px;
    z-index: 999;
    position: relative;
}

.col-1 {
    width: 550px;
    background-color: #00ffff;
    height: 70px;
    border-radius: 50px;
    margin: 250px 0px 0px 90px;
    transform: rotateZ(-50deg);
    position: absolute;
    z-index: 998;
}

.col-2 {
    width: 550px;
    background-color: #00ffff;
    height: 70px;
    border-radius: 50px;
    margin: 300px 0px 0px 0px;
    transform: rotateZ(-50deg);
    position: absolute;
    z-index: 998;
}

.lineTitle1 {
    width: 200px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    margin: -60px 0px 0px 920px;
}

.lineTitle2 {
    width: 200px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    margin: -60px 0px 0px 1500px;
}

.myName {
    font-family: 'Times New Roman', Times, serif;
}

.about {
    position: absolute;
    width: 900px;
    text-align: center;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 90px 110px 0px 0px;
    font-size: 20px;
}

.university {
    color: #00ffff;
}

.university a {
    color: #00ffff;
}

.apiTopic a {
    color: #00ffff;
}

.curseTopic {
    color: #00ffff;
}

.colAbout1 {
    position: absolute;
    right: 0;
    background-color: #001020;
    width: 400px;
    height: 40px;
    border-radius: 50px;
    margin: 0px 430px 0px 0px;
}

.colAbout2 {
    position: absolute;
    right: 0;
    background-color: #001020;
    width: 400px;
    height: 40px;
    border-radius: 50px;
    border-radius: 50px;
    margin: 20px 300px 0px 0px;
}

#apresentation h2 {
    position: absolute;
    right: 0;
    z-index: 999;
    display: flex;
    margin: 10px 465px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.github {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    margin: 200px 600px 0px 0px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: scale(1.2);
}

.whatsapp {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    margin: 200px 530px 0px 0px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease-in-out;
}

.whatsapp:hover {
    transform: scale(1.2);
}

.linkedin {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    margin: 200px 460px 0px 0px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease-in-out;
}

.linkedin:hover {
    transform: scale(1.2);
}

.lineProfyle1 {
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: #00ffff;
    border-radius: 50px;
    margin: 650px 0px 0px 400px;
}

.lineProfyle2 {
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: #00ffff;
    border-radius: 50px;
    margin: 700px 0px 0px 250px;
}

.lineProfyle3 {
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: #00ffff;
    border-radius: 50px;
    margin: 730px 0px 0px 350px;
}

.rain1 {
    width: 100px;
    height: 100px;
    background-color: #001020;
    transform: rotateZ(90deg);
    position: absolute;
    margin: 0px 0px 0px 600px;
    top: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.rain2 {
    width: 400px;
    height: 100px;
    background-color: #00ffff;
    transform: rotateZ(90deg);
    position: absolute;
    margin: 0px 0px 0px 600px;
    top: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 999;
}

/* css do top project base */

#topProject1 {
    width: 100vw -1;
    height: 100vh;
    background-color: #001020;
}

#topProject2 {
    width: 100vw -1;
    height: 100vh;
    background-color: #002030;
}

#topProject3 {
    width: 100vw -1;
    height: 100vh;
    background-color: #001020;
}

.masc1 {
    width: 70px;
    height: 60px;
    background-color: #002030;
    position: absolute;
    margin: 0px 0px 0px 850px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 997;
}

.masc2 {
    width: 70px;
    height: 30px;
    background-color: #001020;
    position: absolute;
    margin: -30px 0px 0px 920px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 997;
}

.masc3 {
    width: 70px;
    height: 60px;
    background-color: #002030;
    position: absolute;
    margin: 0px 0px 0px 990px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 997;
}

.masc4 {
    width: 70px;
    height: 60px;
    background-color: #001020;
    position: absolute;
    margin: 0px 0px 0px 850px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 997;
}

.masc5 {
    width: 70px;
    height: 30px;
    background-color: #002030;
    position: absolute;
    margin: -30px 0px 0px 920px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 997;
}

.masc6 {
    width: 70px;
    height: 60px;
    background-color: #001020;
    position: absolute;
    margin: 0px 0px 0px 990px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 997;
}

.leftSide {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.rightSide {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-left-radius: #00ffff;
}

.photoSite {
    width: 96%;
    height: 96%;
    filter: brightness(50%);
    cursor: pointer;
}

.seeFullPhoto {
    position: absolute;
    width: 100vw -1;
    height: 100vh -1;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 200;
}

.photoSiteNoFilter {
    width: 96%;
    height: 96%;
    cursor: pointer;
}

.seeFullPhotoVisible {
    position: absolute;
    width: 100vw -1;
    height: 100vh -1;
    padding: 70px 200px 20px 200px;
    display: block;
    z-index: 1000;
    display: block;
}

.seeSiteText {
    position: absolute;
    margin: 400px 0px 0px 700px;
    z-index: 150;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

.siteName {
    position: absolute;
    z-index: 997;
    background-color: #001020;
    border-bottom-right-radius: 50px;
    margin: 19px 0px 0px 30px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeSite {
    position: absolute;
    z-index: 996;
    background-color: #001020;
    border-bottom-right-radius: 50px;
    margin: 119px 0px 0px 30px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeSite h2 {
    font-family: sans-serif;
    font-size: 40;
}

.siteName h2 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.siteNameRight {
    position: absolute;
    z-index: 997;
    background-color: #002030;
    border-bottom-left-radius: 50px;
    margin: 19px 30px 0px 30px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.seeSiteRight {
    position: absolute;
    z-index: 996;
    background-color: #002030;
    border-bottom-left-radius: 50px;
    margin: 119px 30px 0px 0px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.seeSiteRight h2 {
    font-family: sans-serif;
    font-size: 40;
}

.siteNameRight h2 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
    width: 600px;
    height: 800px;
    background-color: #002030;
    border-radius: 50px;
    position: absolute;
    z-index: 999;
    margin: 60px 0px 0px 60px;
}

.textRight {
    width: 600px;
    height: 800px;
    background-color: #001020;
    border-radius: 50px;
    position: absolute;
    z-index: 999;
    right: 0;
    margin: 60px 60px 0px 0px;
    padding: 20px;
}

.textRight p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    text-align: justify;
}

.textRight p a {
    color: #00ffff;
    text-decoration: none;
    cursor: pointer;
}

.listTexts {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 a {
    color: #ffffff;
    text-underline-offset: 5px;
}

/* css da section dos cursos */

#topCurses {
    width: 100vw -1;
    height: 100vh -1;
    background-color: #002030;
}

#topCurses h2 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 80px 0px 0px 800px;
    width: 20%;
}

.boxT {
    width: 20%;
    border: 3px solid #001020;
    position: absolute;
    margin: 75px 0px 0px 750px;
}

.boxB {
    width: 20%;
    border: 3px solid #001020;
    position: absolute;
    margin: 120px 0px 0px 750px;
}

.boxR {
    width: 3.5%;
    border: 3px solid #00ffff;
    position: absolute;
    margin: 85px 0px 0px 1100px;
}

.boxL {
    width: 3.5%;
    border: 3px solid #00ffff;
    position: absolute;
    margin: 110px 0px 0px 710px;
}